<main>
  <app-learning-resources />

  <hr />

  <app-auth />
  <!-- @if (isAdmin()) {
    <p>Only admins should see this</p>
  } -->

  <!-- Using Structure Directive -->
  <ng-template appLog appAuth="admin">
    <p class="protected-content admin">Only admins should see this</p>
  </ng-template>
  <!-- Same things as the above, bus does not need the ng-template element -->
  <p appLog *appAuth="'user'" class="protected-content unauthenticated">
    Regular users should see this
  </p>
  <p appLog *appAuth="'guest'" class="protected-content authenticated">
    Guest users should see this
  </p>
</main>
